
.navigation {
  @apply
  flex
  items-center
  justify-between
  bg-white
  dark:bg-gray-800
  shadow-2xl
  p-2
  fixed
  w-full
  z-10
  top-0
}

.logo {
  @apply
  text-gray-900
  dark:text-white
  no-underline
  hover:no-underline
}

.burger-button {
  @apply
  flex
  items-center
  px-3
  py-2
  border
  rounded
  text-gray-500
  border-gray-600
  hover:text-white
  hover:border-white
}

.menu-block {
  @apply
  w-full
  flex
  md:items-center
  w-auto
  justify-end
  pt-0
  duration-300
}

